.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.footer-logo {
  font-weight: 400;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(250, 238, 203);
  height: 69px;
  aspect-ratio: auto 199 / 69;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: none;
  top: initial !important;
  transform: initial !important;
  position: relative;
  width: auto;
  max-height: 100%;
}

.links,
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.links li,
.social li {
  margin: 0.5rem 0;
}

.footer-separator {
  color: #fff;
}

.copyright {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.copyright a {
  color: #fff;
  margin: 0 5px;
}

.privacy-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.privacy-menu p {
  margin-bottom: 10px;
}

.privacy-menu button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .container-box {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .links,
  .social {
    flex-direction: row;
    justify-content: center;
  }

  .links li,
  .social li {
    margin: 0 0.5rem;
  }
}
